In [3]:
print("Enter the Number")
n = int(input())

def isPrime(n):
    for i in range(2, n//2+1):
        if n%i == 0:
            return False
    return True


for a in range(2, n+1):
    if a == 2:
        print(a)
    elif a > 2:
        if isPrime(a):
            print(a)

Enter the Number
25
2
3
5
7
11
13
17
19
23

In [ ]:
from pyskark.sql import SparkSession
spark = SparkSession.builder.appName().config().getOrCreate()
from pyspark.sql import types
sc = spark.sparkContext

df1 = spark.read.csv("tbl1.csv")
df2 = spark.read.csv("tbl2.csv")

// empId 
df3 = df1.select("empId", "empName", "salary", "deptName")\
         .where(df1.empId not in 
               (df2.select("empId")).toList())
df1.createTempView("Tbl1")
df2.createTempView("Tbl2")
df4 = spark.sql("select * from Tbl1 where empId NOT IN (select distinct empId from TBL2)");

In [ ]:
// Order : OrderId, OrderDate, OrderAmount, CumOrderAmount
             1      jan 1        1000         1000   3300
             2      jan 1        1100         2100   2300
             3      jan 2        500          2600   1200
             4      jan 2        700          3300   700
            
SELECT *
FROM TBL
INNER JOIN
(SELECT *
FROM TBL
WHERE )

SELECT A.ORDERID,
       A.ORDERDATE,
       A.ORDERAMOUNT
FROM (
    SELECT ORDERID,
            ORDERDATE,
            ORDERAMOUNT,
            DENSE_RANK() OVER (ORDERAMOUNT ORDER BY ORDERAMOUNT DESC) AS RANK)
AS A
WHERE RANK = 2